.vw-100 {
  width: 100vw;
}

body {
  font-family: "Eesti";
  cursor: url("../assets/ui/arrow_down_blue.svg"), auto;
  overflow-x: hidden;
}

.vh-100 {
  height: 100vh;
}

.sticky {
  position: sticky !important;
}

.pt-180 {
  padding-top: 180px;
}

.min-828 {
  min-height: 828px;
}
